asgiref==3.4.1
Django==3.2.15
docopt==0.6.2
image==1.5.33
imageio==2.9.0
imageio-ffmpeg==0.4.4
num2words==0.5.10
numpy==1.22.0
opencv-python==4.5.3.56
Pillow==9.0.1
pkg-resources==0.0.0
pydub==0.25.1
pytz==2021.1
simpleaudio==1.0.4
six==1.16.0
sqlparse==0.4.2
tkVideo==0.1
